# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = "AIzaSyDUGtqkymnVmxdTqrXa7_GAxsi8PBlnNBY"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
#Load the csv exported in Part I to a DataFrame
city_data = pd.read_csv("../weatherpy/WeatherPy.csv")
city_data.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,paita,-5.0892,-81.1144,64.40,84,51,13.49,PE,1630114700
1,mahebourg,-20.4081,57.7000,72.25,94,75,17.27,MU,1630114700
2,mount gambier,-37.8333,140.7667,57.11,47,100,17.27,AU,1630114700
3,rikitea,-23.1203,-134.9692,73.98,81,7,18.57,PF,1630114701
4,khatanga,71.9667,102.5000,37.20,90,100,16.49,RU,1630114701
5,coahuayana,18.7333,-103.6833,80.08,97,100,4.47,MX,1630114701
6,port elizabeth,-33.9180,25.5701,48.49,49,0,14.97,ZA,1630114512
7,senneterre,48.3835,-77.2328,55.62,68,100,4.43,CA,1630114702
8,nagato,34.3833,131.2000,85.91,72,12,13.89,JP,1630114702
9,lagoa,39.0500,-27.9833,69.30,83,94,5.88,PT,1630114702

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
#Set Humidity as Weight
humidity = city_data["Humidity"].astype(float)
maxhumidity = humidity.max()

#Set Lat and Lng as Locations
locations = city_data[["Lat", "Lng"]]

In [8]:
#Plot Map
fig = gmaps.figure()

#Add Heat Layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)

#Save image
plt.savefig("Humidity Heatmap.png")

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
#Narrow Cities to Reflect Conditions
narrowed_df = city_data.loc[(city_data["Max Temp"] > 70) & (city_data["Max Temp"] < 80) & (city_data["Wind Speed"] < 10) & (city_data["Cloudiness"] == 0), :]

#Drop Null Values
narrowed_df = narrowed_df.dropna(how='any')
narrowed_df.reset_index(inplace=True)

#Delete Unneccessary Columns
del narrowed_df["index"]

#Show DataFrame
narrowed_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,guarapari,-20.6667,-40.4975,71.49,92,0,7.09,BR,1630114703
1,mimarsinan,41.0032,28.5377,74.79,65,0,3.06,TR,1630114706
2,robat karim,35.4846,51.0829,78.66,46,0,9.22,IR,1630114711
3,akdepe,42.0551,59.3788,73.49,31,0,7.61,TM,1630114741
4,posse,-14.0931,-46.3694,72.81,34,0,9.33,BR,1630114745
5,farkhor,37.4922,69.4036,74.28,22,0,2.19,TJ,1630114768
6,sarakhs,36.5449,61.1577,75.34,46,0,4.61,IR,1630114778
7,rudbar,30.1500,62.6000,79.27,23,0,7.43,AF,1630114779
8,urumqi,43.8010,87.6005,74.35,23,0,8.95,CN,1630114796
9,mount isa,-20.7333,139.5000,78.57,11,0,6.91,AU,1630114812

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
hotellist = []

for i in range(len(narrowed_df)):
    lat = narrowed_df.loc[i]['Lat']
    lng = narrowed_df.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
narrowed_df["Hotel Name"] = hotellist
narrowed_df = narrowed_df.dropna(how='any')
narrowed_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,guarapari,-20.6667,-40.4975,71.49,92,0,7.09,BR,1630114703,Guarapari
1,mimarsinan,41.0032,28.5377,74.79,65,0,3.06,TR,1630114706,İstanbul
2,robat karim,35.4846,51.0829,78.66,46,0,9.22,IR,1630114711,Robat Karim
3,akdepe,42.0551,59.3788,73.49,31,0,7.61,TM,1630114741,Akdepe
4,posse,-14.0931,-46.3694,72.81,34,0,9.33,BR,1630114745,Setor dos Funcionarios

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_df.iterrows()]
locations = narrowed_df[["Lat", "Lng"]]

In [19]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Save image
plt.savefig("Hotels.png")