# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = "AIzaSyDUGtqkymnVmxdTqrXa7_GAxsi8PBlnNBY"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
#Load the csv exported in Part I to a DataFrame
city_data = pd.read_csv("../weatherpy/WeatherPy.csv")
city_data.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,little current,45.9793,-81.9248,78.89,76,100,9.57,CA,1630172161
1,trairi,-3.2778,-39.2689,87.03,47,65,17.52,BR,1630172161
2,rikitea,-23.1203,-134.9692,73.49,72,1,20.69,PF,1630172162
3,egvekinot,66.3167,-179.1667,36.30,92,100,4.12,RU,1630172162
4,sabang,5.8933,95.3214,82.72,71,94,15.95,ID,1630172162
5,rustenburg,-25.6676,27.2421,49.64,14,0,18.28,ZA,1630172163
6,sungaipenuh,-2.0833,101.3833,64.99,97,97,2.06,ID,1630172163
7,clyde river,70.4692,-68.5914,41.23,81,75,0.00,CA,1630172163
8,wenling,28.3669,121.3600,78.98,88,8,4.25,CN,1630172164
9,albany,42.6001,-73.9662,72.84,55,37,8.84,US,1630171976

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
#Set Humidity as Weight
humidity = city_data["Humidity"].astype(float)
maxhumidity = humidity.max()

#Set Lat and Lng as Locations
locations = city_data[["Lat", "Lng"]]

In [14]:
#Plot Map
fig = gmaps.figure()

#Add Heat Layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)

#Save image
plt.savefig("Humidity Heatmap.png")

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Narrow Cities to Reflect Conditions
narrowed_df = city_data.loc[(city_data["Max Temp"] > 70) & (city_data["Max Temp"] < 80) & (city_data["Wind Speed"] < 10) & (city_data["Cloudiness"] == 0), :]

#Drop Null Values
narrowed_df = narrowed_df.dropna(how='any')
narrowed_df.reset_index(inplace=True)

#Delete Unneccessary Columns
del narrowed_df["index"]

#Show DataFrame
narrowed_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,hasaki,35.7333,140.8333,79.20,87,0,9.22,JP,1630172182
1,koungou,-12.7336,45.2042,74.91,69,0,6.91,YT,1630172189
2,sukhumi,43.0033,41.0153,76.59,76,0,2.66,GE,1630172203
3,kijang,35.2442,129.2139,76.73,89,0,4.34,KR,1630172223
4,gorele,41.0308,39.0031,78.24,82,0,2.71,TR,1630172225
5,kalabo,-14.9700,22.6814,78.42,16,0,7.56,ZM,1630172249
6,formosa,-26.1775,-58.1781,76.98,50,0,6.91,AR,1630172263
7,niksar,40.5917,36.9517,73.60,76,0,3.83,TR,1630172269

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotellist = []

for i in range(len(narrowed_df)):
    lat = narrowed_df.loc[i]['Lat']
    lng = narrowed_df.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
narrowed_df["Hotel Name"] = hotellist
narrowed_df = narrowed_df.dropna(how='any')
narrowed_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,hasaki,35.7333,140.8333,79.20,87,0,9.22,JP,1630172182,Kamisu
1,koungou,-12.7336,45.2042,74.91,69,0,6.91,YT,1630172189,Koungou
2,sukhumi,43.0033,41.0153,76.59,76,0,2.66,GE,1630172203,Sokhumi
3,kijang,35.2442,129.2139,76.73,89,0,4.34,KR,1630172223,Busan
4,gorele,41.0308,39.0031,78.24,82,0,2.71,TR,1630172225,Görele

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_df.iterrows()]
locations = narrowed_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Save image
plt.savefig("Hotels.png")